<!-- ================================
  DETALLE DEL PRODUCTO
================================ -->
<div class="product-detail">

  <!-- ================================
    BARRA SUPERIOR
  ================================ -->
  <div class="product-detail__top">

    <!-- Cerrar -->
    <button
      type="button"
      (click)="this.closeModal.emit()"
      class="product-detail__close none btn b--hidden"
    >
      <fa-icon [icon]="faArrowRightFromBracket"></fa-icon>
      <span>Cerrar</span>
    </button>

    <!-- Herramientas: Editar y más opciones -->
    <div class="product-detail__tools">

      @if ( !editMode() ) {
        <!-- Editar -->
        <button
          type="button"
          (click)="startEditing()"
          class="product-detail__edit none btn b--hidden"
        >
          <fa-icon [icon]="faPenToSquare"></fa-icon>
          <span class="sr-only">Editar</span>
        </button>

        <!-- Más opciones -->
        <button
          type="button"
          (click)="toggleOptionsMenu($event)"
          class="product-detail__options none btn b--hidden"
        >
          <fa-icon [icon]="faEllipsis"></fa-icon>
          <span class="sr-only">Más opciones</span>
        </button>
      } @else {
        <!-- Guardar -->
        <button
          type="submit"
          form="productEditForm"
          [disabled]="saving() || this.editForm().invalid()"
          class="product-detail__btn product-detail__btn-1 none btn b--primary"
        >
          <fa-icon [icon]="faFloppyDisk"></fa-icon>
          <span>Guardar</span>
        </button>

        <!-- Cancelar -->
        <button
          type="button"
          (click)="cancelEditing()"
          [disabled]="saving()"
          class="product-detail__btn product-detail__btn-2 none btn b--gray"
        >
          <fa-icon [icon]="faClose"></fa-icon>
          <span>Cancelar</span>
        </button>
      }
    </div>
    <!-- END: Herramientas -->

    <!-- Menú de opciones -->
    <div
      #optionsMenuRef
      [class.active]="showOptionsMenu()"
      class="product-detail__options-menu"
    >

      <!-- Descargar CSV -->
      <button type="button" class="none btn b--white-primary">
        <fa-icon [icon]="faFileArrowDown"></fa-icon>
        <span>Descargar CSV</span>
      </button>

      <!-- Archivar -->
      <button
        type="button"
        (click)="toggleProductArchive()"
        [disabled]="archiving()"
        class="none btn b--white-primary"
      >
        @if ( archiving() ) {
          <fa-icon [icon]="faSpinner" class="spin"></fa-icon>
          <span>
            {{ productIsArchived() ? 'Desarchivando...' : 'Archivando...' }}
          </span>
        } @else {
          <fa-icon [icon]="productIsArchived() ? faBoxOpen : faBoxArchive"></fa-icon>
          <span>{{ productIsArchived() ? 'Desarchivar' : 'Archivar' }}</span>
        }
      </button>

    </div>
    <!-- END: Menú de opciones -->

  </div>
  <!-- END: BARRA SUPERIOR -->

  <!-- ================================
    CONTENIDO DEL PRODUCTO
  ================================ -->
  <div class="product-detail__content">

    <form
      id="productEditForm"
      [class.edicion]="editMode()"
      [class.is-saving]="saving()"
      (ngSubmit)="saveEditing()"
      novalidate
    >
      <!-- Overlay de carga -->
      @if ( saving() ) {
        <div class="product-detail__form-overlay">
          <fa-icon [icon]="faSpinner" class="spin"></fa-icon>
          <span>Guardando, espere por favor...</span>
        </div>
      }

      <!-- Nombre del producto -->
      @if ( editMode() ) {
        <div class="product-detail__field-wrapper">
          <input
            [formField]="editForm.nombre"
            placeholder="Nombre del producto"
            type="text"
            [class.i--warn]="editForm.nombre().invalid() && editForm.nombre().touched()"
            class="product-detail__input none input"
          >

          @if ( editForm.nombre().invalid() && editForm.nombre().touched() ) {
            <div class="product-detail__field-error">
              @for ( error of editForm.nombre().errors(); track error.kind ) {
                <span>{{ error.message }}</span>
              }
            </div>
          }
        </div>
      } @else {
        <h2>{{ product().nombre }}</h2>
      }

      <!-- Campos principales -->
      <div class="product-detail__fields">
        <!-- Estado -->
        <div class="product-detail__state">
          <div class="product-detail__state-label">
            <span>Estado</span>
          </div>

          <div class="product-detail__state-value">
            <!-- Estado -->
            @if ( !editMode() ) {
              <span [class]="`badge badge--${product().estado}`">
                {{ product().estado }}
              </span>
            } @else {
              <shared-select
                [options]="stateOptions"
                [value]="editModel().estado"
                (valueChange)="updateState($event)"
              />
            }

          </div>
        </div>

        <!-- Categoría -->
        <div class="product-detail__category">
          <div class="product-detail__category-label">
            <span>Categoría</span>
          </div>

          <div class="product-detail__category-value">
            @if ( !editMode() ) {
              <span [class]="`badge badge--${product().categoria}`">
                {{ product().categoria }}
              </span>
            } @else {
              <shared-select
                [options]="categoryOptions"
                [value]="editModel().categoria"
                (valueChange)="updateCategory($event)"
              />
            }
          </div>
        </div>

        <!-- Marca -->
        <div class="product-detail__brand">
          <div class="product-detail__brand-label">
            <span>Marca</span>
          </div>

          @if ( !editMode() ) {
            <span>{{ product().marca }}</span>
          } @else {
            <div class="product-detail__field-wrapper">
              <input
                [formField]="editForm.marca"
                placeholder="Marca del producto"
                type="text"
                [class.i--warn]="editForm.marca().invalid() && editForm.marca().touched()"
                class="product-detail__input none input"
              >

              @if ( editForm.marca().invalid() && editForm.marca().touched() ) {
                <div class="product-detail__field-error">
                  @for ( error of editForm.marca().errors(); track error.kind ) {
                    <span>{{ error.message }}</span>
                  }
                </div>
              }
            </div>

          }
        </div>

        <!-- Modelo -->
        <div class="product-detail__model">
          <div class="product-detail__model-label">
            <span>Modelo</span>
          </div>

          @if ( !editMode() ) {
            <span>{{ product().modelo ?? 'No tiene' }}</span>
          } @else {
            <input
              [formField]="editForm.modelo"
              placeholder="Modelo del producto"
              type="text"
              class="product-detail__input none input"
            >
          }
        </div>

        <!-- Precio -->
        <div class="product-detail__price">
          <div class="product-detail__price-label">
            <span>Precio</span>
          </div>

          @if ( !editMode() ) {
            <span>{{ product().precio | compactNumber: 'precio' }}</span>
          } @else {
            <div class="product-detail__field-wrapper">
              <input
                [formField]="editForm.precio"
                placeholder="Precio del producto"
                type="number"
                [class.i--warn]="editForm.precio().invalid() && editForm.precio().touched()"
                class="product-detail__input none  input"
              >

              @if ( editForm.precio().invalid() && editForm.precio().touched() ) {
                <div class="product-detail__field-error">
                  @for ( error of editForm.precio().errors(); track error.kind ) {
                    <span>{{ error.message }}</span>
                  }
                </div>
              }
            </div>
          }
        </div>

        <!-- Descuento -->
        <div class="product-detail__discount">
          <div class="product-detail__discount-label">
            <span>Descuento</span>
          </div>

          @if ( !editMode() ) {
            <span>{{ ( product().descuento ?? 0 ) / 100 | percent: '1.0-1' }}</span>
          } @else {
            <div class="product-detail__field-wrapper">
              <input
                [formField]="editForm.descuento"
                placeholder="Descuento del producto"
                type="number"
                [class.i--warn]="editForm.descuento().invalid() && editForm.descuento().touched()"
                class="product-detail__input none input"
              >

              @if ( editForm.descuento().invalid() && editForm.descuento().touched() ) {
                <div class="product-detail__field-error">
                  @for ( error of editForm.descuento().errors(); track error.kind ) {
                    <span>{{ error.message }}</span>
                  }
                </div>
              }
            </div>
          }
        </div>
      </div>

      <!-- Etiqueta -->
      <div class="product-detail__tags">
        <div class="product-detail__tags-label">
          <span>Etiquetas</span>
        </div>

        @if ( !editMode() ) {
          <div class="product-detail__tags-value">
            @for ( tag of visibleTags(); track tag ) {
              <span [class]="`badge badge--tag badge--tag-${getTagColor(tag)}`">
                {{ tag }}
              </span>
            }@empty {
              <span>No tiene</span>
            }

            @if ( remainingTags() > 0 ) {
              <button
                type="button"
                (click)="showAllTags.set(!showAllTags())"
                class="badge badge--more"
              >
                +{{ remainingTags() }}
              </button>
            }

            @if ( showAllTags() ) {
              <button
                type="button"
                (click)="showAllTags.set(false)"
                class="badge badge--less"
              >
                Ver menos
              </button>
            }
          </div>
        } @else {
          <input
            [(ngModel)]="tagsInput"
            [ngModelOptions]="{ standalone: true }"
            type="text"
            placeholder="Separadas por comas: Nuevo, Oferta..."
            class="product-detail__input none input"
          >
        }
      </div>

      <!-- Fechas -->
      <div class="product-detail__dates">

        <!-- Creado el -->
        <div class="product-detail__start">
          <div class="product-detail__start-label">
            <span>Creado el</span>
          </div>

          <span>{{ product().creadoEn | date: 'dd/MM/yy, HH:mm a' }}</span>
        </div>

        <!-- Actualizado el -->
        <div class="product-detail__update">
          <div class="product-detail__update-label">
            <span>Actualizado el</span>
          </div>

          <span>{{ product().actualizadoEn | date: 'dd/MM/yy, HH:mm a' }}</span>
        </div>

      </div>
      <!-- END: Fechas -->

      <!-- Descripción -->
      <div class="product-detail__description">
        <div class="product-detail__description-label">
          <span>Descripción</span>
        </div>

        @if ( !editMode() ) {
          <span>{{ product().descripcion || 'No tiene' }}</span>
        } @else {
          <textarea
            [formField]="editForm.descripcion"
            placeholder="Descripción del producto"
            class="product-detail__input none input"
          ></textarea>
        }
      </div>
    </form>

    <div
      class="product-detail__tabs-section"
      [class.is-editing]="editMode()"
    >
      <!-- ================================
        TABS: Variantes / Imágenes
      ================================ -->
      <div class="product-detail__tabs">
        <button
          type="button"
          [class.active]="activeTab() === 'variantes'"
          (click)="activeTab.set('variantes')"
          class="product-detail__tabs-btn none"
        >
          Variantes
        </button>

        <button
          type="button"
          [class.active]="activeTab() === 'imagenes'"
          (click)="activeTab.set('imagenes')"
          class="product-detail__tabs-btn none"
        >
          Imagenes
        </button>

        <!-- Indicador animado -->
        <div
          class="product-detail__tabs-indicator"
          [class.right]="activeTab() === 'imagenes'"
        ></div>
      </div>

      <!-- ================================
        VISTA ACTIVA (Variantes o Imágenes)
      ================================ -->
      <div class="product-detail__tab-panel">

        <!-- ================================
          VISTA: Variantes
        ================================ -->
        @if ( activeTab() === 'variantes' ) {
          <product-variants-panel
            [product]="product()"
            (viewVariant)="viewVariant.emit({
              productoId: product().id,
              varianteId: $event
            })"
            (editVariant)="editVariant.emit({
              productoId: product().id,
              varianteId: $event
            })"
            (addVariant)="addVariant.emit(product().id)"
          />
        }
        <!-- END: VISTA: Variantes -->

        <!-- ================================
          VISTA: Imágenes
        ================================ -->
        @if ( activeTab() === 'imagenes' ) {
          <product-images-panel
            [images]="product().imagenes ?? []"
            [productId]="product().id"
            (productUpdated)="productUpdated.emit($event)"
          />
        }
        <!-- END: VISTA: Imágenes -->

      </div>
      <!-- END: VISTA ACTIVA -->
    </div>
  </div>
  <!-- END: CONTENIDO DEL PRODUCTO -->

</div>
<!-- END: DETALLE DEL PRODUCTO -->
