// ================================
// DETALLE DEL PRODUCTO
// ================================
.product-detail {
  position: relative;
  height: fit-content;

  // ================================
  // BARRA SUPERIOR
  // ================================
  &__top {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;

    z-index: 2;

    padding: 1.5rem 1.5rem;
    background-color: var(--color-blanco-1);
    border-bottom: 0.2rem solid var(--color-blanco-8);

    fa-icon {
      font-size: 1.6rem;
      color: var(--color-blanco-6);
    }

    span {
      font-size: 1.6rem;
    }
  }

  // Cerrar
  &__close {
    display: flex;
    gap: 0.5rem;
  }

  // Herramientas: Editar y más opciones
  &__tools {
    display: flex;
    gap: 2rem;
  }

  // Menú de opciones
  &__options-menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    position: absolute;
    top: 100%;
    right: 0;

    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--color-blanco-1);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);

    opacity: 0;
    pointer-events: none;
    transform: scale(0.9) translateY(-0.5rem);
    transform-origin: top right;

    transition: opacity 0.2s ease, transform 0.2s ease;

    z-index: 1;

    &.active {
      opacity: 1;
      pointer-events: all;
      transform: scale(1) translateY(0);
    }

    button {
      display: flex;
      justify-content: flex-start;
      gap: 0.8rem;

      padding: 1rem 1.4rem;
      width: 100%;

      fa-icon {
        color: inherit;
      }
    }
  }

  // ================================
  // CONTENIDO DEL PRODUCTO
  // ================================
  &__content {
    padding: 1.5rem 1.2rem;

    @media (min-width: 768px) {
      padding: 1.5rem 1.8rem;
    }

    h2 {
      margin-bottom: 3rem;
    }
  }


  @media (min-width: 1024px) {
    // Campos principales
    &__fields {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // Campos
  &__state,
  &__category,
  &__brand,
  &__model,
  &__price,
  &__discount,
  &__tags,
  &__start,
  &__update {
    display: grid;
    grid-template-columns: 10rem 1fr;
    align-items: center;
    gap: 1rem;

    margin-bottom: 1.5rem;
    font-size: 1.4rem;

    @media (min-width: 1024px) {
      margin-bottom: 3rem;
    }

    > span {
      font-weight: 600;
    }
  }

  // Descripción
  &__description {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-top: 2rem;
    margin-bottom: 1.5rem;

    font-size: 1.4rem;

    > span {
      padding: 1rem;
      border-radius: 0.5rem;
      box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.1);

      font-weight: 500;
    }
  }

  // Tags
  &__tags {
    &-value {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
  }

  // Fecha
  &__dates {
    @media (min-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // Labels
  &__state-label,
  &__category-label,
  &__brand-label,
  &__model-label,
  &__price-label,
  &__discount-label,
  &__tags-label,
  &__start-label,
  &__update-label,
  &__description-label {
    color: var(--color-blanco-6);
  }

  // ================================
  // TABS: Variantes / Imágenes
  // ================================
  &__tabs {
    position: relative;

    display: flex;
    gap: 0;

    margin-top: 2rem;
    border-bottom: 0.2rem solid var(--color-blanco-8);

    &-btn {
      background-color: transparent;
      padding: 1rem;
      color: var(--color-blanco-6);

      width: 10rem;
      cursor: pointer;
      transition: 0.5s ease;

      &.active {
        color: var(--color-primario);
        font-weight: 600;
      }
    }

    // Indicador que se desliza
    &-indicator {
      position: absolute;
      top: 100%;
      left: 0;

      width: 10rem;
      height: 0.2rem;
      background: var(--color-primario);
      border-radius: 2px 2px 0 0;
      transition: transform 0.3s ease;

      &.right {
        transform: translateX(100%); // se mueve al segundo tab
      }
    }
  }

  // ================================
  // VISTA ACTIVA (Variantes o Imágenes)
  // ================================
  &__tab-panel {
    padding-top: 2rem;
  }

  // ================================
  // VISTA: Variantes
  // ================================
  // Herramientas de variantes: filtro y orden
  &__variants-toolbar {
    display: flex;
    gap: 1.2rem;

    margin-bottom: 1.5rem;

    span,
    fa-icon {
      font-size: 1.4rem;
    }
  }

  // Filtrar por estado y Ordenar por
  &__filter,
  &__order {
    &-title {
      display: flex;
      gap: 0.8rem;
    }
  }

  // Input Select
  .select {
    position: relative;

    margin-top: 1rem;

    cursor: pointer;

    &.active {
      fa-icon {
        transform: rotate(180deg);
      }

      .select__options {
        opacity: 1;
        pointer-events: all;
        transform: scale(1) translateY(0);
      }
    }

    // Valor seleccionado
    &__value {
      display: flex;
      align-items: center;

      width: 100%;
      border-radius: 0.5rem;
      padding: 0.8rem;
      background-color: var(--color-blanco-8);

      span {
        flex: 1;

        text-align: center;
      }

      fa-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        justify-self: flex-end;

        transition: 0.5s ease;
      }
    }

    // Opciones
    &__options {
      position: absolute;
      top: 100%;
      left: 0;

      display: flex;
      flex-direction: column;
      align-items: self-start;

      pointer-events: none;
      user-select: none;
      width: 100%;
      margin-top: 1rem;
      border-radius: 0.5rem;
      background-color: var(--color-blanco-1);
      box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.1);
      max-height: 15rem;

      overflow: hidden;
      overflow-y: scroll;

      opacity: 0;
      pointer-events: none;
      transform: scale(0.9) translateY(-0.5rem);
      transform-origin: top;

      // Scrollbar oculto pero funcional
      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        display: none;
      }

      transition: 0.5s ease;
      z-index: 10;
    }

    // Opcion
    &__option {
      padding: 0.8rem 0.5rem;
      width: 100%;
      border-radius: 0;
      border-bottom: 0.2px solid var(--color-blanco-3);

      transition: 0.5s ease;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background-color: var(--color-blanco-3);
      }

      span {
        font-size: 1.2rem;
      }
    }
  }

  // Lista de variantes
  &__variants {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;

    height: 100%;
    max-height: 30rem;
    padding: 1.5rem 0.5rem;

    overflow: scroll;

    // Scrollbar oculto pero funcional
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      display: none;
    }
  }

  &__variant {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 2rem;

    min-width: fit-content;
    width: 100%;
    padding: 0.5rem;
    padding-right: 2.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px 2px rgba(232, 234, 246, 0.6);

    // Imagen
    &-img {
      min-width: 10rem;
      max-width: 10rem;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
      }
    }

    &-information,
    &-state,
    &-stock,
    &-price {
      display: flex;
      flex-direction: column;

      // Label de campo (primera línea)
      span:first-child {
        font-size: 1.3rem;
        color: var(--color-negro-3);

        &:not(.product-detail__variant-information) {
          height: 2.5rem;
        }

        &.product-detail__variant-name {
          font-size: 1.4rem;
        }
      }

      // Valor de campo (segunda línea)
      span:nth-child(2) {
        justify-self: center;

        font-size: 1.5rem;

        &:not(.badge) {
          padding: 0.3rem 0;
        }

        &.product-detail__variant-sku {
          font-size: 1.2rem;
        }
      }
    }

    // Nombre y SKU
    &-information {
      min-width: 14rem;

      @media (min-width: 1024px) {
        min-width: 10rem;
      }
    }

    &-name {
      color: var(--color-primario);

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 14rem;
    }

    &-sku {
      color: var(--color-negro-3);
    }

    // Estado
    &-state {
      max-width: 12rem;
      font-size: 1.3rem;
      color: var(--color-negro-3);

      span.badge {
        font-size: 1.2rem;
        width: fit-content;
      }
    }

    // Stock
    &-stock {
      max-width: 5rem;
    }

    // Precio
    &-price {
      max-width: 20rem;
      margin-right: 2rem;

      @media (min-width: 768px) {
        max-width: 15rem;
      }
    }

    // Acciones de variante
    &-action {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 2rem;

      max-width: 12rem;

      .btn {
        position: relative;

        padding: 0.5rem;
        background-color: transparent;

        fa-icon {
          font-size: 1.4rem;
        }

        &:hover {
          background-color: var(--color-blanco-3);
        }
      }
    }
  }

  // ================================
  // VISTA: Imágenes
  // ================================
  &__panel--images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
  }

  &__image {
    position: relative;

    min-width: 10rem;
    max-width: 10rem;
    width: 100%;
    border-radius: 0.5rem;

    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background-color: #000;
      opacity: 0;
      border-radius: 0.5rem;

      transition: 0.5s ease;
    }

    &:hover::after {
      opacity: 0.3;
    }

    img {
      border-radius: 0.5rem;
    }
  }
}
