<!-- ================================
  DETALLE DEL PRODUCTO
================================ -->
<div class="product-detail">

  <!-- ================================
    BARRA SUPERIOR
  ================================ -->
  <div class="product-detail__top">

    <!-- Cerrar -->
    <button
      (click)="this.cerrarModal.emit()"
      class="product-detail__close none btn b--hidden"
    >
      <fa-icon [icon]="faArrowRightFromBracket"></fa-icon>
      <span>Cerrar</span>
    </button>

    <!-- Herramientas: Editar y más opciones -->
    <div class="product-detail__tools">

      <!-- Editar -->
      <button class="product-detail__edit none btn b--hidden">
        <fa-icon [icon]="faPenToSquare"></fa-icon>
        <span class="sr-only">Editar</span>
      </button>

      <!-- Más opciones -->
      <button
        (click)="toggleOptionsMenu($event)"
        class="product-detail__options none btn b--hidden"
      >
        <fa-icon [icon]="faEllipsis"></fa-icon>
        <span class="sr-only">Más opciones</span>
      </button>

    </div>
    <!-- END: Herramientas -->

    <!-- Menú de opciones -->
    <div
      #optionsMenuRef
      [class.active]="showOptionsMenu()"
      class="product-detail__options-menu"
    >

      <!-- Descargar CSV -->
      <button class="none btn b--white-primary">
        <fa-icon [icon]="faFileArrowDown"></fa-icon>
        <span>Descargar CSV</span>
      </button>

      <!-- Archivar -->
      <button class="none btn b--white-primary">
        <fa-icon [icon]="faBoxArchive"></fa-icon>
        <span>Archivar</span>
      </button>

    </div>
    <!-- END: Menú de opciones -->

  </div>
  <!-- END: BARRA SUPERIOR -->

  <!-- ================================
    CONTENIDO DEL PRODUCTO
  ================================ -->
  <div class="product-detail__content">
    <!-- Nombre del producto -->
    <h2>{{ producto().nombre }}</h2>

    <!-- Campos principales -->
    <div class="product-detail__fields">
      <!-- Estado -->
      <div class="product-detail__state">
        <div class="product-detail__state-label">
          <span>Estado</span>
        </div>

        <div class="product-detail__state-value">
          <span [class]="`badge badge--${producto().estado}`">
            {{ producto().estado }}
          </span>
        </div>
      </div>

      <!-- Categoría -->
      <div class="product-detail__category">
        <div class="product-detail__category-label">
          <span>Categoría</span>
        </div>

        <div class="product-detail__category-value">
          <span [class]="`badge badge--${producto().categoria}`">
            {{ producto().categoria }}
          </span>
        </div>
      </div>

      <!-- Marca -->
      <div class="product-detail__brand">
        <div class="product-detail__brand-label">
          <span>Marca</span>
        </div>

        <span>{{ producto().marca }}</span>
      </div>

      <!-- Modelo -->
      <div class="product-detail__model">
        <div class="product-detail__model-label">
          <span>Modelo</span>
        </div>

        <span>{{ producto().modelo ?? 'No tiene' }}</span>
      </div>

      <!-- Precio -->
      <div class="product-detail__price">
        <div class="product-detail__price-label">
          <span>Precio</span>
        </div>

        <span>{{ producto().precio| compactNumber: 'precio' }}</span>
      </div>

      <!-- Descuento -->
      <div class="product-detail__discount">
        <div class="product-detail__discount-label">
          <span>Descuento</span>
        </div>

        <span>{{ ( producto().descuento ?? 0 ) / 100 | percent: '1.0-1' }}</span>
      </div>
    </div>

    <!-- Etiqueta -->
    <div class="product-detail__tags">
      <div class="product-detail__tags-label">
        <span>Etiquetas</span>
      </div>

      <div class="product-detail__tags-value">
        @for ( tag of tagsVisibles(); track tag ) {
          <span [class]="`badge badge--tag badge--tag-${getTagColor(tag)}`">
            {{ tag }}
          </span>
        }

        @if ( tagsRestantes() > 0 ) {
          <button
            (click)="showAllTags.set(!showAllTags())"
            class="badge badge--more"
          >
            +{{ tagsRestantes() }}
          </button>
        }

        @if ( showAllTags() ) {
          <button
            (click)="showAllTags.set(false)"
            class="badge badge--less"
          >
            Ver menos
          </button>
        }
      </div>
    </div>

    <!-- Fechas -->
    <div class="product-detail__dates">

      <!-- Creado el -->
      <div class="product-detail__start">
        <div class="product-detail__start-label">
          <span>Creado el</span>
        </div>

        <span>{{ producto().creadoEn | date: 'dd/MM/yy' }}</span>
      </div>

      <!-- Actualizado el -->
      <div class="product-detail__update">
        <div class="product-detail__update-label">
          <span>Actualizado el</span>
        </div>

        <span>{{ producto().actualizadoEn | date: 'dd/MM/yy' }}</span>
      </div>

    </div>
    <!-- END: Fechas -->

    <!-- Descripción -->
    <div class="product-detail__description">
      <div class="product-detail__description-label">
        <span>Descripción</span>
      </div>

      <span>{{ producto().descripcion }}</span>
    </div>

    <!-- ================================
      TABS: Variantes / Imágenes
    ================================ -->
    <div class="product-detail__tabs">
      <button class="product-detail__tabs-btn none active" >
        Variantes
      </button>

      <button class="product-detail__tabs-btn none" >
        Imagenes
      </button>
    </div>

    <!-- ================================
      VISTA ACTIVA (Variantes o Imágenes)
    ================================ -->
    <div class="product-detail__tab-panel">

      <!-- ================================
        VISTA: Variantes
      ================================ -->
      <div class="product-detail__panel product-detail__panel--variants">

        <!-- Herramientas de variantes: filtro y orden -->
        <div class="product-detail__variants-toolbar">

          <!-- Filtrar por estado -->
          <div class="product-detail__filter">
            <div class="product-detail__filter-title">
              <fa-icon [icon]="faFilter"></fa-icon>
              <span>Filtrar por:</span>
            </div>

            <div
              [class.active]="showFilterOptions()"
              class="select"
            >
              <!-- Valor seleccionado -->
              <div
                (click)="toggleOptionsFilter($event)"
                class="select__value"
              >
                <span>{{ 'Descontinuado' }}</span>
                <fa-icon [icon]="faAngleDown"></fa-icon>
              </div>

              <!-- Opciones -->
              <div
                #filterOptionsRef
                class="select__options"
              >
                <button
                  name="todos"
                  class="select__option none btn b--hidden"
                >
                  <span class="badge">Todos</span>
                </button>

                <button
                  name="disponible"
                  class="select__option none btn b--hidden"
                >
                  <span class="badge badge--disponible">Disponible</span>
                </button>

                <button
                  name="sin_stock"
                  class="select__option none btn b--hidden"
                >
                  <span class="badge badge--sin_stock">Sin stock</span>
                </button>

                <button
                  name="reservado"
                  class="select__option none btn b--hidden"
                >
                  <span class="badge badge--reservado">Reservado</span>
                </button>

                <button
                  name="descontinuado"
                  class="select__option none btn b--hidden"
                >
                  <span class="badge badge--descontinuado">Descontinuado</span>
                </button>
              </div>
            </div>
          </div>
          <!-- END: Filtrar por estado -->

          <!-- Ordenar por -->
          <div class="product-detail__order">
            <div class="product-detail__order-title">
              <fa-icon [icon]="faArrowDownShortWide"></fa-icon>
              <span>Ordenar por</span>
            </div>

            <div
              [class.active]="showOrderOptions()"
              class="select"
            >
              <!-- Valor seleccionado -->
              <div
                (click)="toggleOptionsOrder($event)"
                class="select__value"
              >
                <span>{{ 'Defecto' }}</span>
                <fa-icon [icon]="faAngleDown"></fa-icon>
              </div>

              <!-- Opciones -->
              <div
                #orderOptionsRef
                class="select__options"
              >
                <button
                  name="defecto"
                  class="select__option none btn b--hidden"
                >
                  <span>Defecto</span>
                </button>

                <button
                  name="nombre"
                  class="select__option none btn b--hidden"
                >
                  <span>Nombre</span>
                </button>

                <button
                  name="stock"
                  class="select__option none btn b--hidden"
                >
                  <span>Stock</span>
                </button>

                <button
                  name="precio"
                  class="select__option none btn b--hidden"
                >
                  <span>Precio</span>
                </button>

                <button
                  name="estado"
                  class="select__option none btn b--hidden"
                >
                  <span>Estado</span>
                </button>
              </div>
            </div>
          </div>
          <!-- END: Ordenar por -->

        </div>
        <!-- END: Herramientas de variantes -->

        <!-- Lista de variantes -->
        <div class="product-detail__variants">
          @for ( variante of producto().variantes; track variante.id ) {
            <div class="product-detail__variant">

              <!-- Imagen -->
              <div class="product-detail__variant-img">
                @if ( variante.imagen?.length ) {
                  <img
                    [src]="variante.imagen"
                    [alt]="variante.nombre ?? 'Imagen de variante'"
                  >
                } @else {
                  <img src="./img/iphone15.png" alt="Imagen por defecto">
                }
              </div>

              <!-- Nombre y SKU -->
              <div class="product-detail__variant-information">
                <span class="product-detail__variant-name">
                  {{ producto().nombre }} {{ variante.nombre ?? '' }}
                </span>
                <span class="product-detail__variant-sku">
                  {{ variante.sku ?? 'sin-sku' }}
                </span>
              </div>

              <!-- Estado -->
              <div class="product-detail__variant-state">
                <span>Estado</span>
                <span [class]="`badge badge--${variante.estado}`">
                  {{ variante.estado }}
                </span>
              </div>

              <!-- Stock -->
              <div class="product-detail__variant-stock">
                <span>Stock</span>
                <span>{{ variante.stock | compactNumber: 'stock' }}</span>
              </div>

              <!-- Precio adicional -->
              <div class="product-detail__variant-price">
                <span>Precio</span>
                <span>{{ variante.precioAdicional ?? 0 | compactNumber: 'precio' }}</span>
              </div>

              <!-- Acciones de variante -->
              <div class="product-detail__variant-action">

                <!-- Editar variante -->
                <button class="product-detail__action-btn product-detail__action-btn--edit btn b--hidden none">
                  <fa-icon [icon]="faPenToSquare"></fa-icon>
                  <span class="sr-only">Editar variante</span>
                </button>

                <!-- Ver variante -->
                <button
                  class="product-detail__action-btn product-detail__action-btn--see btn b--hidden none"
                >
                  <fa-icon [icon]="faEye"></fa-icon>
                  <span class="sr-only">Ver variante</span>
                </button>

              </div>
              <!-- END: Acciones de variante -->

            </div>
          } @empty {
            <p>No tiene variantes</p>
          }
        </div>
        <!-- END: Lista de variantes -->

      </div>
      <!-- END: VISTA: Variantes -->

      <!-- ================================
        VISTA: Imágenes
      ================================ -->
      <div class="product-detail__panel product-detail__panel--images hidden">
        @for ( imagen of producto().imagenes; track imagen ) {
          <div class="product-detail__image">
            <img [src]="imagen" alt="Imagen del producto">
          </div>
        } @empty {
          <p>No hay imágenes</p>
        }
      </div>
      <!-- END: VISTA: Imágenes -->

    </div>
    <!-- END: VISTA ACTIVA -->

  </div>
  <!-- END: CONTENIDO DEL PRODUCTO -->

</div>
<!-- END: DETALLE DEL PRODUCTO -->
