@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

// Variables
:root {
  --fuente-principal: "Kablammo", system-ui;
  --fuente-secundario: "Open Sans", sans-serif;

  --color-blanco-1: #fdfdfd;
  --color-blanco-2: #F4F5FA;
  --color-blanco-3: #e2e2e2;
  --color-blanco-4: #c9c9c9;
  --color-blanco-5: #a8a8a8;
  --color-blanco-6: #6b7280;
  --color-blanco-7: #F0F2FF;
  --color-blanco-8: #E8EAF6;

  --color-negro-1: #222222;
  --color-negro-2: #111827;
  --color-negro-3: #374151;

  --color-primario: #001D3D;
  --color-primario-light: #003566;
  --color-primario-soft: #E8EDF5;

  --color-btn-primario: #0144DD;
  --color-accent-hover: #0235B5;
  --color-accent-soft: #DBEAFE;

  // Notificaciones
  --notif-critical-base: #E24B4A;
  --notif-critical-soft:  #FEE2E2;

  --notif-warning-base:   #F59E0B;
  --notif-warning-soft:   #FEF3C7;

  --notif-movements-base: #3B82F6;
  --notif-movements-soft: #DBEAFE;

  --notif-confirmed-base: #22C55E;
  --notif-confirmed-soft: #DCFCE7;

  --notif-system-base:    #8B5CF6;
  --notif-system-soft:    #EDE9FE;
}
