// ================================
// FILTROS
// ================================
.products__filters {
  display: flex;
  align-items: center;

  padding: 2rem 0.6rem 0;

  overflow: hidden;
  overflow-x: scroll;

  // Scrollbar oculto pero funcional
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    display: none;
  }

  // FILTROS — BTN
  &-btn {
    position: relative;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    border: 0.2rem solid var(--color-blanco-7);
    border-bottom: none;
    border-radius: 0.8rem 0.8rem 0 0;
    box-shadow: 4px -2px 8px 0px rgba( 0, 0, 0, 0.1);
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: -0.5rem;

    font-size: 1.4rem;
    font-weight: 600;

    z-index: var(--i);

    backface-visibility: hidden;
    will-change: transform;

    @media (min-width: 1024px) {
      font-size: 1.6rem;
    }

    &:first-child {
      margin-left: 0;
    }

    // Tab inactiva
    &:not(.b--white) {
      background-color: var(--color-blanco-8);
      color: var(--color-blanco-6);
    }

    // Tab activa
    &.b--white {
      transform: scale(1.1) translateY(-0.2rem);
      z-index: 8;

      .products__filters-amount {
        background-color: var(--color-primario);
      }
    }

    fa-icon {
      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 1.8rem;

      @media (min-width: 1024px) {
        font-size: 2rem;
      }
    }
  }

  // FILTROS — CANTIDAD
  &-amount {
    background-color: var(--color-blanco-5);
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;

    font-size: 1.2rem;
    font-weight: normal;
    color: var(--color-blanco-1);
  }
}
