<!-- ================================
  FILTROS
================================ -->
<div class="products__filters" #productFiltersRef>
  <!-- BTN: Todos -->
  <button
    style="--i: 7;"
    (click)="seleccionarEstado($event, 'Todas')"
    [class.b--white]="estadoActivo() === 'Todas'"
    class="products__filters-btn btn none"
  >
    <fa-icon [icon]="faTableCellsLarge"></fa-icon>
    <span>Todos</span>
    <span class="products__filters-amount">
      @if ( productos().length > 100) {
        +99
      } @else {
        {{ productos().length }}
      }
    </span>
  </button>

  <!-- BTN: Disponibles -->
  <button
    style="--i: 6;"
    (click)="seleccionarEstado($event, 'disponible')"
    [class.b--white]="estadoActivo() === 'disponible'"
    class="products__filters-btn btn none"
  >
    <fa-icon [icon]="faCheckCircle"></fa-icon>
    <span>Disponibles</span>
    <span class="products__filters-amount">
      @if ( conteosPorEstado().disponible! > 100) {
        +99
      } @else {
        {{ conteosPorEstado().disponible ?? 0 }}
      }
    </span>
  </button>

  <!-- BTN: Agotados -->
  <button
    style="--i: 5;"
    (click)="seleccionarEstado($event, 'agotado')"
    [class.b--white]="estadoActivo() === 'agotado'"
    class="products__filters-btn btn none"
  >
    <fa-icon [icon]="faCircleXmark"></fa-icon>
    <span>Agotados</span>
    <span class="products__filters-amount">
      @if ( conteosPorEstado().agotado! > 100) {
        +99
      } @else {
        {{ conteosPorEstado().agotado ?? 0 }}
      }
    </span>
  </button>

  <!-- BTN: Reservados -->
  <button
    style="--i: 4;"
    (click)="seleccionarEstado($event, 'reservado')"
    [class.b--white]="estadoActivo() === 'reservado'"
    class="products__filters-btn btn none"
  >
    <fa-icon [icon]="faBookmark"></fa-icon>
    <span>Reservados</span>
    <span class="products__filters-amount">
      @if ( conteosPorEstado().reservado! > 100) {
        +99
      } @else {
        {{ conteosPorEstado().reservado ?? 0 }}
      }
    </span>
  </button>

  <!-- BTN: Proximamente -->
  <button
    style="--i: 3;"
    (click)="seleccionarEstado($event, 'proximamente')"
    [class.b--white]="estadoActivo() === 'proximamente'"
    class="products__filters-btn btn none"
  >
    <fa-icon [icon]="faCalendarDays"></fa-icon>
    <span>Proximamente</span>
    <span class="products__filters-amount">
      @if ( conteosPorEstado().proximamente! > 100) {
        +99
      } @else {
        {{ conteosPorEstado().proximamente ?? 0 }}
      }
    </span>
  </button>

  <!-- BTN: Descontinuados -->
  <button
    style="--i: 2;"
    (click)="seleccionarEstado($event, 'descontinuado')"
    [class.b--white]="estadoActivo() === 'descontinuado'"
    class="products__filters-btn btn none"
  >
    <fa-icon [icon]="faBan"></fa-icon>
    <span>Descontinuados</span>
    <span class="products__filters-amount">
      @if ( conteosPorEstado().descontinuado! > 100) {
        +99
      } @else {
        {{ conteosPorEstado().descontinuado ?? 0 }}
      }
    </span>
  </button>

  <!-- BTN: Pausados -->
  <button
    style="--i: 1;"
    (click)="seleccionarEstado($event, 'pausado')"
    [class.b--white]="estadoActivo() === 'pausado'"
    class="products__filters-btn btn none"
  >
    <fa-icon [icon]="faCirclePause"></fa-icon>
    <span>Pausados</span>
    <span class="products__filters-amount">
      @if ( conteosPorEstado().pausado! > 100) {
        +99
      } @else {
        {{ conteosPorEstado().pausado ?? 0 }}
      }
    </span>
  </button>

</div>
<!-- END: FILTROS -->
