<!-- ================================
  INVY
================================ -->
<div class="invy">
  <div class="invy__left">
    @if ( !chatActive() ) {
      <h2>{{ displayedGreeting() }}</h2>
    } @else {
      @if ( !editingTitle() ) {
        <div class="invy__left-title">
          <h2>{{ currentChatTitle() }}</h2>
          <fa-icon [icon]="faPen" (click)="startEditingTitle()"></fa-icon>
        </div>
      } @else {
        <input
          [(ngModel)]="titleDraft"
          [ngModelOptions]="{ standalone: true }"
          (blur)="saveTitle()"
          (keydown.enter)="saveTitle()"
          class="invy__left-title-input input none"
        >
      }
    }

    <div
      class="invy__main-content"
      [class.active]="chatActive()"
    >
      @if ( chatActive() ) {
        <router-outlet />
      }

      <invy-message-composer
        [chatActive]="chatActive()"
        (send)="onSend($event)"
      />
    </div>

  </div>

  <!-- ================================
    OVERLAY MOBILE
  ================================ -->
  <div
    class="invy__overlay"
    [class.active]="showHistory()"
    (click)="showHistory.set(false)"
  ></div>

  <invy-history-panel [(showHistory)]="showHistory" />
</div>
<!-- END: INVY -->

