<!-- ================================
  DETALLE DE LA VARIANTE
================================ -->
<div class="variant-detail">

  <!-- ================================
    BARRA SUPERIOR
  ================================ -->
  <div class="variant-detail__top">
    <!-- Cerrar -->
    <button
      type="button"
      (click)="closeModal.emit()"
      class="variant-detail__close none btn b--hidden"
    >
      <fa-icon [icon]="faArrowRightFromBracket"></fa-icon>
      <span>Cerrar</span>
    </button>

    <!-- Herramientas: Editar y más opciones -->
    <div class="variant-detail__tools">
      @if ( !editMode() ) {
        <!-- Editar -->
        <button
          type="button"
          (click)="startEditing()"
          class="variant-detail__edit none btn b--hidden"
        >
          <fa-icon [icon]="faPenToSquare"></fa-icon>
          <span class="sr-only">Editar</span>
        </button>

        <!-- Más opciones -->
        <button
          type="button"
          (click)="toggleOptionsMenu($event)"
          class="variant-detail__options none btn b--hidden"
        >
          <fa-icon [icon]="faEllipsis"></fa-icon>
          <span class="sr-only">Más opciones</span>
        </button>
      } @else {
        <!-- Guardar -->
        <button
          type="submit"
          form="variantEditForm"
          [disabled]="saving() || editForm().invalid()"
          class="variant-detail__btn variant-detail__btn-1 none btn b--primary"
        >
          <fa-icon [icon]="faFloppyDisk"></fa-icon>
          <span>Guardar</span>
        </button>

        <!-- Cancelar -->
        <button
          type="button"
          (click)="cancelEditing()"
          [disabled]="saving()"
          class="variant-detail__btn variant-detail__btn-2 none btn b--gray"
        >
          <fa-icon [icon]="faClose"></fa-icon>
          <span>Cancelar</span>
        </button>
      }
    </div>
    <!-- END: Herramientas -->

    <!-- Menú de opciones -->
    <div
      #optionsMenuRef
      [class.active]="showOptionsMenu()"
      class="variant-detail__options-menu"
    >

      <!-- Descargar CSV -->
      <button
        type="button"
        class="none btn b--white-primary"
      >
        <fa-icon [icon]="faFileArrowDown"></fa-icon>
        <span>Descargar CSV</span>
      </button>

      <!-- Imprimir etiqueta -->
      <button
        type="button"
        class="none btn b--white-primary"
      >
        <fa-icon [icon]="faBarcode"></fa-icon>
        <span>Imprimir etiqueta</span>
      </button>

      <!-- Archivar -->
      <button
        type="button"
        (click)="toggleVariantArchive()"
        [disabled]="archiving()"
        class="none btn b--white-primary"
      >
        @if ( archiving() ) {
          <fa-icon [icon]="faSpinner" class="spin"></fa-icon>
          <span>{{ variantIsArchived() ? 'Desarchivando...' : 'Archivando...' }}</span>
        } @else {
          <fa-icon [icon]="variantIsArchived() ? faBoxOpen : faBoxArchive"></fa-icon>
          <span>{{ variantIsArchived() ? 'Desarchivar' : 'Archivar' }}</span>
        }
      </button>

    </div>
    <!-- END: Menú de opciones -->
  </div>
  <!-- END: BARRA SUPERIOR -->

  <!-- ================================
    CONTENIDO DE LA VARIANTE
  ================================ -->
  <div class="variant-detail__content">
    <form
      id="variantEditForm"
      [class.is-saving]="saving()"
      (ngSubmit)="saveEditing()"
      novalidate
    >
      @if ( saving() ) {
        <!-- Overlay de carga -->
        <div class="variant-detail__form-overlay">
          <fa-icon [icon]="faSpinner" class="spin"></fa-icon>
          <span>Guardando, espere por favor...</span>
        </div>
      }

      <!-- Campos principales -->
      <div class="variant-detail__fields-main">

        <!-- Imagen -->
        <div class="variant-detail__image-column">
          <div
            class="variant-detail__image-wrapper"
            [class.editable]="editMode()"
            (click)="openImageSelector()"
          >
            @if ( variant().imagen?.length ) {
              <img
                [src]="variant().imagen"
                [alt]="variant().nombre"
                width="256"
                height="256"
              >
            } @else {
              <img
                src="./img/not-found.jpg"
                alt="Imagen por defecto"
                width="256"
                height="256"
              >
            }

            @if ( editMode() ) {
              <div class="variant-detail__image-overlay">
                @if ( uploadingImage() ) {
                  <fa-icon [icon]="faSpinner" class="spin"></fa-icon>
                } @else {
                  <fa-icon [icon]="faCamera"></fa-icon>
                  <span>Cambiar imagen</span>
                }
              </div>
            }

            <input
              #imageInputRef
              type="file"
              accept="image/*"
              hidden
              (change)="onImageSelected($event)"
            >
          </div>

          @if ( imageError() && editMode() ) {
            <div class="variant-detail__field-error">
              <span>{{ imageError() }}</span>
            </div>
          }
        </div>

        <!-- Bloque informativo -->
        <div class="variant-detail__main-info">
          <!-- Nombre de la variante -->
          @if ( !editMode() ) {
            <h2>
              {{ productName() + ' ' + variant().nombre }}
            </h2>
          } @else {
            <div class="variant-detail__field-wrapper">
              <input
                [formField]="editForm.nombre"
                placeholder="Nombre de la variante"
                type="text"
                [class.i--warn]="editForm.nombre().invalid() && editForm.nombre().touched()"
                class="variant-detail__input none input"
              >

              @if ( editForm.nombre().invalid() && editForm.nombre().touched() ) {
                <div class="variant-detail__field-error">
                  @for ( error of editForm.nombre().errors(); track error.kind ) {
                    <span>{{ error.message }}</span>
                  }
                </div>
              }
            </div>
          }

          <!-- SKU de la variante-->
          @if ( !editMode() ) {
            <div class="variant-detail__sku">
              <span>{{ variant().sku }}</span>
            </div>
          } @else {
            <div class="variant-detail__field-wrapper">
              <input
                [formField]="editForm.sku"
                placeholder="SKU de la variante"
                type="text"
                [class.i--warn]="editForm.sku().invalid() && editForm.sku().touched() || skuServerError()"
                class="variant-detail__input none input"
              >

              @if ( editForm.sku().invalid() && editForm.sku().touched() ) {
                <div class="variant-detail__field-error">
                  @for ( error of editForm.sku().errors(); track error.kind ) {
                    <span>{{ error.message }}</span>
                  }
                </div>
              }

              @if ( skuServerError() ) {
                <div class="variant-detail__field-error">
                  <span>{{ skuServerError() }}</span>
                </div>
              }
            </div>
          }


          <!-- Estado -->
          <div class="variant-detail__state">
            <div class="variant-detail__state-label">
              <span>Estado</span>
            </div>

            @if ( !editMode() ) {
              <div class="variant-detail__state-value">
                <span [class]="`badge badge--${ variant().estado }`">
                  {{ variant().estado }}
                </span>
              </div>
            } @else {
              <div class="variant-detail__field-wrapper">
                <shared-select
                  [options]="variantStateOptions"
                  [value]="editModel().estado"
                  [invalid]="editForm.estado().invalid() && editForm.estado().touched()"
                  (valueChange)="updateState($event)"
                  (closed)="editForm.estado().markAsTouched()"
                />

                @if ( editForm.estado().invalid() && editForm.estado().touched() ) {
                  <div class="variant-detail__field-error">
                    @for ( error of editForm.estado().errors(); track error.kind ) {
                      <span>{{ error.message }}</span>
                    }
                  </div>
                }
              </div>
            }
          </div>

          <!-- Precio adicional de la variante-->
          <div class="variant-detail__price">
            <div class="variant-detail__price-label">
              <span>Precio adicional</span>
            </div>

            @if ( !editMode() ) {
              <span>
                {{ variant().precioAdicional | compactNumber: 'precio' }}
              </span>
            } @else {
              <div class="variant-detail__field-wrapper">
                <input
                  [formField]="editForm.precioAdicional"
                  type="number"
                  [class.i--warn]="editForm.precioAdicional().invalid() && editForm.precioAdicional().touched()"
                  class="variant-detail__input none input"
                >

                @if ( editForm.precioAdicional().invalid() && editForm.precioAdicional().touched() ) {
                  <div class="variant-detail__field-error">
                    @for ( error of editForm.precioAdicional().errors(); track error.kind ) {
                      <span>{{ error.message }}</span>
                    }
                  </div>
                }
              </div>
            }
          </div>

          <!-- Stock de la variante-->
          <div class="variant-detail__stock">
            <div class="variant-detail__stock-label">
              <span>Stock</span>
            </div>

            @if ( !editMode() ) {
              <span>{{ variant().stock | compactNumber: 'stock' }}</span>
            } @else {
              <div class="variant-detail__field-wrapper">
                <input
                  [formField]="editForm.stock"
                  type="number"
                  [class.i--warn]="editForm.stock().invalid() && editForm.stock().touched()"
                  class="variant-detail__input none input"
                >

                @if ( editForm.stock().invalid() && editForm.stock().touched() ) {
                  <div class="variant-detail__field-error">
                    @for ( error of editForm.stock().errors(); track error.kind ) {
                      <span>{{ error.message }}</span>
                    }
                  </div>
                }
              </div>
            }
          </div>
        </div>
      </div>

      <h4>Valores secundarios</h4>

      <!-- Campos secundarios -->
      <div class="variant-detail__fields-secondary">

        <!-- Talla de la variante-->
        <div class="variant-detail__size">
          <div class="variant-detail__size-label">
            <span>Talla</span>
          </div>

          @if ( !editMode() ) {
            <span>{{ variant().talla || 'No tiene' }}</span>
          } @else {
            <input
              [formField]="editForm.talla"
              placeholder="Talla"
              type="text"
              class="variant-detail__input none input"
            >
          }
        </div>

        <!-- Color de la variante-->
        <div class="variant-detail__color">
          <div class="variant-detail__color-label">
            <span>Color</span>
          </div>

          @if ( !editMode() ) {
            <span>{{ variant().color || 'No tiene' }}</span>
          } @else {
            <input
              [formField]="editForm.color"
              placeholder="Color"
              type="text"
              class="variant-detail__input none input"
            >
          }
        </div>

        <!-- Capacidad de la variante-->
        <div class="variant-detail__ability">
          <div class="variant-detail__ability-label">
            <span>Capacidad</span>
          </div>

          @if ( !editMode() ) {
            <span>{{ variant().capacidad || 'No tiene' }}</span>
          } @else {
            <input
              [formField]="editForm.capacidad"
              placeholder="Capacidad"
              type="text"
              class="variant-detail__input none input"
            >
          }
        </div>
      </div>

    </form>
  </div>
  <!-- END: CONTENIDO DE LA VARIANTE -->

  <!-- ================================
    HISTORIAL
  ================================ -->
  <div class="variant-detail__history">
    <!-- Titulo -->
    <div class="variant-detail__history-title">
      <fa-icon [icon]="faClockRotateLeft"></fa-icon>
      <h4>Historial de actividad</h4>
    </div>

    <!-- Timeline -->
    <div class="variant-detail__history-timeline">

      <!-- Entrada: Stock -->
      <div class="variant-detail__history-item variant-detail__history-item--info">
        <div class="variant-detail__history-icon">
          <fa-icon [icon]="faBoxesStacked"></fa-icon>
        </div>

        <!-- Información  -->
        <div class="variant-detail__history-body">
          <div class="variant-detail__history-header">
            <span class="variant-detail__history-label">Stock actualizado</span>
            <span class="variant-detail__history-date">Hace 5 minutos</span>
          </div>

          <p class="variant-detail__history-desc">De 30 a 25 unidades</p>
        </div>
      </div>


      <!-- Entrada: Precio -->
      <div class="variant-detail__history-item variant-detail__history-item--info">
        <div class="variant-detail__history-icon">
          <fa-icon [icon]="faTag"></fa-icon>
        </div>

        <!-- Información  -->
        <div class="variant-detail__history-body">
          <div class="variant-detail__history-header">
            <span class="variant-detail__history-label">Precio actualizado</span>
            <span class="variant-detail__history-date">Ayer, 3:40 p.m.</span>
          </div>

          <p class="variant-detail__history-desc">De S/ 80 a S/ 90</p>
        </div>
      </div>

      <!-- Entrada: Estado -->
      <div class="variant-detail__history-item variant-detail__history-item--negativo">
        <div class="variant-detail__history-icon">
          <fa-icon [icon]="faBoxArchive"></fa-icon>
        </div>

        <!-- Información  -->
        <div class="variant-detail__history-body">
          <div class="variant-detail__history-header">
            <span class="variant-detail__history-label">Estado cambiado</span>
            <span class="variant-detail__history-date">20 jun, 10:15 a.m.</span>
          </div>

          <p class="variant-detail__history-desc">De "Disponible" a "Descontinuado"</p>
        </div>
      </div>

      <!-- Entrada: Creación -->
      <div class="variant-detail__history-item variant-detail__history-item--neutral">
        <div class="variant-detail__history-icon">
          <fa-icon [icon]="faPlus"></fa-icon>
        </div>

        <!-- Información  -->
        <div class="variant-detail__history-body">
          <div class="variant-detail__history-header">
            <span class="variant-detail__history-label">Variante creada</span>
            <span class="variant-detail__history-date">10 ene, 3:00 a.m.</span>
          </div>

          <p class="variant-detail__history-desc">Stock inicial: 50 unidades</p>
        </div>
      </div>

      <!-- Entrada: Creación -->
      <div class="variant-detail__history-item variant-detail__history-item--neutral">
        <div class="variant-detail__history-icon">
          <fa-icon [icon]="faPlus"></fa-icon>
        </div>

        <!-- Información  -->
        <div class="variant-detail__history-body">
          <div class="variant-detail__history-header">
            <span class="variant-detail__history-label">Variante creada</span>
            <span class="variant-detail__history-date">10 ene, 3:00 a.m.</span>
          </div>

          <p class="variant-detail__history-desc">Stock inicial: 50 unidades</p>
        </div>
      </div>

      <!-- Entrada: Creación -->
      <div class="variant-detail__history-item variant-detail__history-item--neutral">
        <div class="variant-detail__history-icon">
          <fa-icon [icon]="faPlus"></fa-icon>
        </div>

        <!-- Información  -->
        <div class="variant-detail__history-body">
          <div class="variant-detail__history-header">
            <span class="variant-detail__history-label">Variante creada</span>
            <span class="variant-detail__history-date">10 ene, 3:00 a.m.</span>
          </div>

          <p class="variant-detail__history-desc">Stock inicial: 50 unidades</p>
        </div>
      </div>

       <!-- Entrada: Creación -->
      <div class="variant-detail__history-item variant-detail__history-item--neutral">
        <div class="variant-detail__history-icon">
          <fa-icon [icon]="faPlus"></fa-icon>
        </div>

        <!-- Información  -->
        <div class="variant-detail__history-body">
          <div class="variant-detail__history-header">
            <span class="variant-detail__history-label">Variante creada</span>
            <span class="variant-detail__history-date">10 ene, 3:00 a.m.</span>
          </div>

          <p class="variant-detail__history-desc">Stock inicial: 50 unidades</p>
        </div>
      </div>

    </div>

  </div>
  <!-- END: HISTORIAL -->

</div>
<!-- END: DETALLE DE LA VARIANTE -->
