<form>
  <input
    type="text"
    name="nombre"
    id="nombre"
    placeholder="Nombre del Producto"
    [(ngModel)]="nuevoProducto.nombre"
  >
  <input type="number" name="precio" id="price" placeholder="Precio" [(ngModel)]="nuevoProducto.precio">
  <select [(ngModel)]="nuevoProducto.categoria" name="categoria">
    @for (cat of categorias; track cat) {
      <option [value]="cat">{{ cat }}</option>
    }
  </select>
  <button (click)="guardarProducto()">Guardar</button>
  <button (click)="cancelarForm()">Cancelar</button>
</form>

