@keyframes rotateBell {
  0% {
    transform: rotate(10deg);
    filter: drop-shadow(0.1rem 0.5rem rgba(0, 0, 0, 0.14));
  } 50% {
    transform: rotate(0);
    filter: none;
  } 100% {
    transform: rotate(-10deg);
    filter: drop-shadow(0.1rem 0.5rem rgba(0, 0, 0, 0.14));
  }
}

@keyframes moveX {
  0% {
    transform: translateX(0.5rem);
  } 50% {
    transform: translateX(0);
  } 100% {
    transform: translateX(-0.5rem);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeScaleIn {
  from {
    opacity: 0;
    transform: scale(0.93) translateY(-6px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes fadeScaleInx2 {
  from {
    opacity: 0;
    transform: scale(0.5) translateY(-12px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes fadeInItem {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
