html {
  box-sizing: border-box;
  overflow: hidden;

  font-size: 62.5%;
  min-width: 28rem;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
  background-color: var(--color-blanco-1);

  font-family: var(--fuente-secundario);
  color: var(--color-primario);
  font-size: 1.6rem;
}
