html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
  font-family: var(--fuente-secundario);
  color: var(--color-primario);
  font-size: 1.6rem;
}
