// Globales
a {
  text-decoration: none;
  color: var(--color-primario);
}

img {
  max-width: 100%;
}

.hidden {
  display: none;
  visibility: hidden;
}

.b-none {
  border: none;
}

.o-none {
  outline: none;
}

.none {
  @extend .b-none;
  @extend .o-none;
}
