<!-- ================================
  NAVEGACIÓN LATERAL (Sidebar)
================================ -->
<nav class="navigation">

  <!-- ENLACES PRINCIPALES --->
  <div class="navigation__main">

    <!-- ENLACE -->
    <a
      routerLink="home"
      routerLinkActive="active"
      class="navigation__link"
      [class.show]="showSidebar()"
    >
      <div class="navigation__link-icon">
        <fa-icon [icon]="faHome"></fa-icon>
      </div>

      <span class="navigation__link-text">
        Inicio
      </span>
    </a>

    <!-- ENLACE -->
    <a
      routerLink="products"
      routerLinkActive="active"
      class="navigation__link"
      [class.show]="showSidebar()"
    >
      <div class="navigation__link-icon">
        <fa-icon [icon]="faBox"></fa-icon>
      </div>

      <span class="navigation__link-text">
        Mis Productos
      </span>
    </a>

    <!-- ENLACE -->
    <a
      routerLink="reports"
      routerLinkActive="active"
      class="navigation__link"
      [class.show]="showSidebar()"
    >
      <div class="navigation__link-icon">
        <fa-icon [icon]="faChartBar"></fa-icon>
      </div>

      <span class="navigation__link-text">
        Reportes
      </span>
    </a>

    <!-- ENLACE -->
    <a
      routerLink="invy"
      routerLinkActive="active"
      class="navigation__link"
      [class.show]="showSidebar()"
    >
      <div class="navigation__link-icon">
        <fa-icon [icon]="faCommentDots"></fa-icon>
      </div>

      <span class="navigation__link-text">
        Invy
      </span>
    </a>
  </div>

  <!-- PERFIL DE USUARIO -->
  <div
    (click)="showProfileMenu.set(true)"
    (mouseover)="openProfileMenu()"
    (mouseout)="openProfileMenu()"
    class="navigation__profile"
  >
    <button class="navigation__profile-btn none btn" [class.show]="showSidebar()">
      <!-- Avatar + Nombre/Rol -->
      <div class="navigation__profile-myself">
          <img class="navigation__profile-img" src="./img/profile.jpg" alt="Imagen del perfil">

          <div class="navigation__profile-description">
            <span class="navigation__profile-name">Jean Haro</span>
            <span class="navigation__profile-rol">Admin</span>
          </div>
      </div>

      <div class="navigation__profile-icon">
        <fa-icon [icon]="faChevronRight"></fa-icon>
      </div>
    </button>

    <app-profile-menu [class.active]="showProfileMenu()"></app-profile-menu>
  </div>
</nav>
