<!-- ================================
  HERRAMIENTAS
================================ -->
<div class="products__tools">

  <!-- BUSCAR -->
  <div class="products__tools-input">
    <input
      class="none input"
      type="text"
      id="search-category"
      placeholder="Buscar por categoría o por etiquetas"
    >
  </div>

  <!-- AGREGAR PRODUCTO -->
  <button class="products__tools-btn none btn b--primary">
    <fa-icon [icon]="faPlus"></fa-icon>
    <span>Agregar producto</span>
  </button>

</div>
<!-- END: HERRAMIENTAS -->
