.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1.5rem;
  border-radius: 0.5rem;

  background-color: var(--color-blanco-2);

  font-size: 1.8rem;
  color: var(--color-primario);

  transition: 0.5s ease;
  cursor: pointer;

  &.b--hidden {
    background-color: transparent;
    padding: 0;
  }

  &.b--white {
    background-color: var(--color-blanco-1);
  }

  &.b--danger-hover:hover {
      background-color: var(--notif-critical-base);
      color: #FFFFFF;
  }
}
