.input {
  width: 100%;
  padding: 1.4rem 2rem;

  background-color: var(--color-blanco-1);
  border-radius: 0.6rem;

  font-family: var(--fuente-secundario);
  font-size: 1.6rem;
  color: var(--color-primario);
}
