<!-- ================================
  CHAT
================================ -->
<div class="invy__chat">
  @for ( msg of messages(); track $index ) {
    <div [class]="msg.role === 'user' ? 'invy__chat-user' : 'invy__chat-bot'">
      @if ( msg.role === 'user' ) {
        @if ( profileImage() ) {
          <img [src]="profileImage()" alt="Perfil" width="32" height="32">
        } @else {
          <span>{{ userInitial() }}</span>
        }
      } @else {
        <span class="invy__chat-bot-avatar">I</span>
      }


      <div [class]="'invy__chat-content invy__chat-content--' + (msg.role === 'user' ? 'user' : 'bot')">
        <small>{{ msg.role === 'user' ? userName() : 'Invy' }}</small>

        @if ( msg.images && msg.images.length > 0 ) {
          <div class="invy__chat-images">
            @for ( img of msg.images; track $index ) {
              <img [src]="img" alt="Imagen adjunta" width="120" height="120">
            }
          </div>
        }

        <div [class]="'invy__chat-message invy__chat-message--' + (msg.role === 'user' ? 'user' : 'bot')"
        >
          {{ msg.content }}
        </div>
      </div>
    </div>
  }
</div>
<!-- END: CHAT -->
