.invy {
  // ================================
  // CHAT
  // ================================
  &__chat {
    width: 100%;
    max-width: 75rem;

    padding-top: 5rem;
    height: calc(100vh - 41rem);
    overflow: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      display: none;
    }

    // BOT Y USER
    &-bot,
    &-user {
      display: flex;
      align-items: flex-start;
      gap: 1.5rem;

      margin-bottom: 3rem;

      > span {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: -0.6rem;
        width: 3rem;
        height: 3rem;
        background-color: var(--color-primario);
        border-radius: 50%;

        color: var(--color-blanco-1);
      }

      > img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        margin-top: -0.6rem;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;

      flex: 1;

      min-width: 0;

      small {
        margin-bottom: 1rem;
      }
    }

    &-images {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      gap: 0.6rem;
      margin-bottom: 0.5rem;

      img {
        width: 8rem;
        height: 8rem;
        object-fit: cover;
        border-radius: 0.6rem;
      }
    }

    &-message {
      background-color: var(--color-blanco-1);
      padding: 1.5rem 2rem;
      border-radius: 0.5rem;
      max-width: 50rem;
      min-width: 0;
      overflow-wrap: break-word;
      word-break: break-word;

      &--user {
        align-self: flex-end;
      }
    }

    // USER
    &-user {
      flex-direction: row-reverse;

      small {
        align-self: flex-end;
      }
    }
  }
}

