<!-- HEADER -->
<app-header
  (sidebarActive)="toggleSidebar()"
  [showSidebar]="showSidebar()"
></app-header>

<!-- CUERPO -->
<div class="layout-body" [class.active]="showSidebar()">
  <!-- SIDEBAR -->
  <app-sidebar
    [class.active]="showSidebar()"
    [showSidebar]="showSidebar()"
  ></app-sidebar>

  <!-- MAIN (Contenido) -->
  <main
    #mainContent
    class="main-content"
    [class.active]="showSidebar()"
    (click)="onOverlayClick($event)"
  >
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </main>
</div>
