.product-detail {
  // Botón para subir imágenes
  &__images-upload-btn {
    gap: 1rem;

    font-size: 1.4rem;
    width: 100%;

    @media (min-width: 1024px) {
      width: auto;
    }
  }

  // Contenido de las imagenes
  &__images-content {
    columns: 2;
    column-gap: 2rem;

    margin-top: 1.5rem;

    @media (min-width: 712px) {
      columns: 3;
    }

    @media (min-width: 1024px) {
      columns: 4;
    }
  }

  // Mensaje de ayuda
  &__images-hint {
    margin: 0.5rem 0;

    font-size: 1.2rem;
  }

  // Mensaje de error
  &__images-error {
    font-size: 1.2rem;
    color: var(--notif-critical-base);
  }

  &__image {
    position: relative;

    break-inside: avoid;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 0.5rem;

    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background-color: #000;
      opacity: 0.3;
      border-radius: 0.5rem;

      transition: 0.5s ease;
    }

    &:hover::after {
      opacity: 0.1;
    }

    &:hover &-delete {
      opacity: 1;
    }

    // Eliminar
    &-delete {
      position: absolute;
      right: 0;
      top: 0;

      background: rgba(0, 0, 0, 0.8);
      color: var(--color-blanco-1);
      border-radius: 0 0 0 0.5rem;
      width: 1.5rem;
      height: 1.5rem;
      font-size: 1.4rem;

      opacity: 0;
      transition: opacity 0.2s ease;
      z-index: 2;
    }

    img {
      display: block;

      width: auto;
      height: auto;      // ← altura natural

      border-radius: 0.5rem;
      object-fit: cover;
    }
  }
}


